# khaosx - Local network
# 
# Gateway
192.168.10.1    hydrogen.khaosx.net hydrogen

# Infrastructure
192.168.10.7    unifi.khaosx.net unifi
192.168.10.10   gold.khaosx.net gold
192.168.10.11   silver.khaosx.net silver
192.168.10.14   nitrogen-idrac.khaosx.net nitrogen-idrac

# Static Servers
192.168.10.30   carbon.khaosx.net carbon
192.168.10.31   nitrogen.khaosx.net nitrogen
192.168.10.32   phosphorus.khaosx.net phosphorus
192.168.10.33   titanium.khaosx.net titanium
192.168.10.34   cobalt.khaosx.net cobalt
192.168.10.35   palladium.khaosx.net palladium
192.168.10.36   iridium.khaosx.net iridium
192.168.10.37   phosphorus.khaosx.net phosphorus
192.168.10.38   mercury.khaosx.net mercury